body { 
margin : 0; 
padding : 0; 
color : #000000; 
font-family : Arial, Verdana, Helvetica, sans-serif; 
font-size : 13px; 
text-align : left; 
font-weight : normal; 
} 
h1 { 
font-family : Arial, Verdana, Helvetica, sans-serif; 
font-size : 18px; 
font-weight : bold; 
text-align : center; 
background-color:#676767; 
color:#FFFFFF; 
width:100%; 
padding:auto;
height:22px; 
} 
.moreh {
font-family : Arial, Verdana, Helvetica, sans-serif; 
font-size : 18px; 
font-weight : bold; 
text-align : center; 
background-color:#676767; 
color:#FFFFFF; 
width:100%; 
padding:auto;
height:22px; 
margin-top:12px;
} 
h2 { 
font-family : Arial, Verdana, Helvetica, sans-serif; 
background: url('https://www.mtv-stuttgart.de/homepage/img/layout/h2_bg.png') no-repeat;
background-position:center;
font-size:14px; 
text-align:center; 
color:#ffffff;
padding:auto;
margin:auto;
width:100%;
height:18px; 
margin-bottom:15px; 
margin-top:-12px; 
padding-left:10px; 
} 
h5 { 
font-family : Arial, Verdana, Helvetica, sans-serif; 
background-color : #b7b7b7; 
font-size : 16px; 
font-weight : bold; 
text-align : left; 
color : #ffffff; 
width : 630px; 
height : 20px; 
margin-bottom : 20px; 
margin-top : 0; 
padding-left : 10px; 
padding-top : 5px; 
} 
a:link, a:visited, a:active, a:hover { 
text-decoration : underline; 
color : #000000; 
} 
a:active, a:hover { 
text-decoration : none; 
color : #000000; 
} 
a.white:link, a.white:visited, a.white:active { 
font-size:13px;
text-decoration:underline; 
color:#FFFFFF; 
} 
a.white:hover { 
text-decoration:none; 
color:#FFFFFF; 
}
a.dark:link, a.dark:visited, a.dark:active { 
font-size:13px;
text-decoration:underline; 
color:#000000; 
} 
a.dark:hover { 
text-decoration:none; 
color:#000000; 
} 
img { 
border : 0; 
} 
table { 
color : #000000; 
font-size : 13px; 
font-family : Arial, Verdana, Helvetica, sans-serif; 
border : 0 solid black; 
} 
td { 
font-family : Arial, Verdana, Helvetica, sans-serif; 
font-size : 13px; 
} 
a.menu { 
width : 107px; 
float : left; 
font-size : 13px; 
display : block; 
padding : 2px; 
background-image : url(homepage/menu_bg.gif); 
text-align : center; 
} 
a.menu:link, a.menu:visited { 
float : left; 
text-decoration : none; 
} 
a.menu:active, a.menu:hover { 
color : #ffffff; 
background-image : url(homepage/aktivemenu_bg.gif); 
text-decoration : none; 
font-weight : bold; 
} 
a.aktivemenu { 
width : 107px; 
font-size : 13px; 
display : block; 
padding : 2px; 
color : #ffffff; 
font-weight : bold; 
background-image : url(homepage/aktivemenu_bg.gif); 
text-align : center; 
float : left; 
text-decoration : none; 
} 
a.xsubmenu { 
width : 100%; 
color : #000000; 
padding-top : 1px; 
padding-bottom:1px; 
margin-top:1px; 
font-size:13px; 
display:block; 
text-align:left; 
border-color:#ACACAC; 
} 
a.xsubmenu:link, a.xsubmenu:visited { 
text-align : left; 
font-size : 13px; 
color : #000000; 
text-decoration : none; 
} 
a.xsubmenu:active, a.xsubmenu:hover { 
background-color:#ACACAC; 
color:#000000; 
text-align : center; 
width : 100%; 
} 
a.submenu { 
color : #000000; 
font-size : 12px; 
text-align : left; 
text-decoration : none; 
} 
a.submenu:link, a.submenu:visited { 
text-decoration : none; 
} 
a.submenu:active, a.submenu:hover { 
text-decoration : underline; 
} 
.xmenu { 
text-align : left; 
width : 100%; 
color : #ffffff; 
background-color : #cc0000; 
font-weight : bold; 
font-size : 14px; 
} 
.news_ueberschrift { 
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:14px; 
color:#333333;
margin : 0 0 5px 0; 
font-weight : bold; 
} 
.news-einzeln_ueberschrift { 
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:16px; 
color:#333333;
margin:0 0 5px 0; 
font-weight:bold; 
} 
.news_unterueberschrift { 
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:13px; 
color:#333333;
text-align:left; 
} 
.news_text { 
font-size: 14px; 
line-height: 1.5;
} 
.news_date { 
font-size: 13px; 
font-weight: bold; 
} 
.newsdate { 
font-size : 11px; 
font-style : italic; 
} 
a.newslink { 
color : #000000; 
font-size : 14px; 
text-align : left; 
text-decoration : underline; 
} 
a.newslink:hover, a.newslink:active { 
font-size : 14px; 
text-decoration : none; 
} 
.ueberschrift_leiste { 
font-family : Arial, Verdana, Helvetica, sans-serif; 
font-size : 13px; 
font-weight : bold; 
text-align : center; 
background-color:#ABABAB; 
color:#FFFFFF; 
width:100%; 
padding:auto;
height:19px; 
margin-bottom: 10px; 
} 
.leiste_l { 
text-align:left; 
background:url(https://www.mtv-stuttgart.de/homepage/img/layout/balken_links.png) no-repeat;
color:#FFFFFF; 
width:190px; 
height:30px; 
margin-bottom:10px; 
margin-top:10px; 
}
.leiste_l_icon {
float:left;
position:relative;
padding-left:10px;
margin-top:-5px; 
}
.leiste_l_text {
float:left;
position:relative;
line-height:20px;
letter-spacing:3px;
color:#333333;
font-variant:small-caps;
font-size:16px;
padding-left:10px;
}
.sportart { 
font-size : 14px; 
font-weight : bold; 
} 
td.gross { 
font-size : 13px; 
font-weight : bold; 
} 
tr.formath {
background-color:#6C6C6C;
background-image:url(https://www.mtv-stuttgart.de/homepage/img/layout/bg_formath.png);
color:#FFFFFF;
text-align:center;
font-weight:bold;
}
tr.format1 {
background-color:#E6E6E6;
}
tr.format2 {
background-color:#CCCCCC;
}
tr.format3 {
background-color:#A0A0A0;
}
.spaltenschrift { 
color : #ffffff; 
font-size : 10px; 
} 
a.spaltenschrift { 
color : #ffffff; 
font-size : 10px; 
text-decoration : underline; 
} 
a.spaltenschrift:hover { 
text-decoration : none; 
} 
.eintrag { 
font-size : 10pt; 
text-align : left; 
color : #000000; 
} 
.hellgrau { 
font-size : 9pt; 
text-align : left; 
font-weight : bold; 
color : #ff9900; 
} 
.newsautor { 
font-size : 7pt; 
text-align : left; 
color : #000000; 
} 
.ueberschrift { 
font-size : 14pt; 
color : #000000; 
text-align : left; 
} 
.weiss { 
color : #FFFFFF; 
} 
.platzhalter { 
margin-top : 20px; 
} 
.newsticker { 
display:none;
width : 450px; 
font-weight : bold; 
color : #cc0000; 
border : 2px dashed #3a3a3a; 
} 
#gesamteseiteausrichten {
 width:1000px;
 margin:auto;
 padding-left:5px;
 padding-right:5px;
 background:url(https://www.mtv-stuttgart.de/homepage/img/layout/layer_bg.jpg) repeat-y;
}
#header{
 display:none;
 background-color:#676767; 
 width:1000px;
 z-index:10;
} 
#untermenue {
display:none;
margin-top:20px;
vertical-align:middle;
background:url(https://www.mtv-stuttgart.de/homepage/bg_submenu.gif) repeat-x;
width:1000px;
line-height:25px;
height:25px;
}
#leftcol{
 display:none;
 width:200px; 
 float:left; 
 position:relative; 
 text-align:center;
 background-color:#F6F6F6; 
 }
#rightcol{
 display:none;
 width:159px;
 text-align:center;
 float:left; 
 position:relative; 
 background-color:#F1F1F1;
 color:#FFFFFF;
 font-size:13px;
 background-color:#F1F1F1; 
 border-style:solid;
 border-width:0px 0px 0px 1px;
 border-color:#CCCCCC;
  }
#maincol{
 background-color:#F6F6F6;  
 float:left;
 display:inline; 
 position:relative; 
 width:640px; 
 }
#footer{
display:none;
width:1000px;
clear:both;
color:#FFFFFF;
text-align:center;
padding-bottom:10px;
margin-top:40px;
margin-bottom:40px;
margin-left:auto;
margin-right:auto;
} 
#footleft {
display:none;
width:200px;
margin:0px;
float:left;
text-align:center;
padding:0;
}
#footright {
display:none;
width:160px;
text-align:center;
float:right;
margin:0;
padding:0;
}
.anzeigeleft {
clear:left;
width:20px;
margin-left:5px;
margin-right:5px;
margin-bottom:5px;
float:left;
text-align:center;
font-size:13px;
padding:0px;
}
.anzeigeright {
width:160px;
color:#000000;
text-align:left;
vertical-align:middle;
font-size:13px;
line-height:1.2;
margin-bottom:5px;
padding:0px;
margin-left:20px;
line-
}
.clear {
clear:left;
}
.sponsorborderit img{
border-color:#CCCCCC;
border-style:solid;
border-width:5px;
}
.sponsorborderit:hover img{
border-color:#3A3A3A;
border-style:solid;
border-width:5px;
}
ul.tabs {
	margin-left:2px;
	margin-right:2px;
	padding: 0px;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin:0px;
	padding:0px;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	padding: 0 15px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
	background-color:#F6F6F6;
}
ul.tabs li a:hover {
	background: #3A3A3A;
	color:#FFFFFF;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background-color:#CC0000;
	border-bottom: 1px solid #F6F6F6; /*--Makes the active tab look like it's connected with its content--*/
}
.tab_container {
	margin-left:10px;
	text-align:center;
	border: 0px solid #999;
	border-top: none;
	width: 615px;
	overflow: hidden;
	clear: both;
	float: left;
}
.tab_content {
	font-family : Arial, Verdana, Helvetica, sans-serif; 
	font-size : 13px;
	background-color:#F6F6F6;
	text-align:left;
	margin-left:0px;
	padding:5px;
	width: 615px;
}

#pageflip {
	position: relative;
}
#pageflip img {
	width: 50px; height: 52px;
	z-index: 99;
	position: absolute;
	right: 0; top: 0;
}
#pageflip .msg_block {
	width: 50px; height: 50px;
	position: absolute;
	z-index: 50;
	right: 0; top: 0;
	background: url(https://www.mtv-stuttgart.de/homepage/page_flip_motiv.jpg) no-repeat right top;
	text-indent: -9999px;
}
#bilderstapel {
	background-color:#F1F1F1;
	height:94px;
	width:150px;
	text-align:left;
}
#bilderstapel img {
	position:absolute;
	height:94px;
	width:150px;
	z-index:1;
	text-align:left;
}
#bilderstapel img.obersteebene {
	z-index:3;
}
#bilderstapel img.mittlereebene {
	z-index:2;
}
/* Video-Portal Play-Button */
.playbutton {
position:relative;
z-index:2;
margin-top:-70px;
} 
/* News: Bilduntertiel */
.bilduntertitel {
position:relative;
background-repeat:no-repeat;
background-color:#CCCCCC;
font-size:12px;
padding:4px;
text-align:left;
margin-top:0px;
line-height:1.5;
width:192px;
z-index:100;
} 
/* TABS2 für Abteilungsseiten-einzeln */
ul.tabs2 {
	margin-left:2px;
	margin-right:2px;
	padding: 0px;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs2 li {
	float: left;
	margin:0px;
	padding:0px;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs2 li a {
	text-decoration: none;
	color: #000;
	display: block;
	padding: 0 15px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
	background-color:#F6F6F6;
}
ul.tabs2 li a:hover {
	background: #3A3A3A;
	color:#FFFFFF;
}
html ul.tabs2 li.active, html ul.tabs2 li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background-color:#CC0000;
	border-bottom: 1px solid #F6F6F6; /*--Makes the active tab look like it's connected with its content--*/
}
.thumbnail_text{
		height: 145px; 
		width: 128px;
		text-align: center;
		padding:8px;
		background-color: #CCCCCC;
		border: 1px solid #D0D0D0;
		float: left;
		margin-left:15px;
		margin-bottom:15px;
		overflow: hidden; 
 		font-family: Arial, "Trebuchet MS", Verdana, Sans-Serif;
		font-size: 11px;
        color: #000000;
}
.foto
 {
 margin: 0;
 padding: 0;
 }

 .foto img
 {
 border: none;
 }

 .foto li
 {
 list-style: none;
 position: relative;
 } 
 a .gross
 {
 display: none;
 } 
 a:hover .gross
 {
 display: block;
 position: absolute;
 z-index:101;
 top: 0;
 left: 0;
 } 
